name : workflow

on:
    push:
        branches:
            - main
        paths-ignore:
            - "README.md"

jobs:
    integration:
        name: Continous Integration
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Lint code
              run: echo "Linting Repository"

            - name: Run unit tests
              run: echo "Running unit tests"
