name : workflow

on:
    push:
        branches:
            - main
        paths-ignore:
            - "README.md"

jobs:
    integration:
        name: Continous Integration
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Lint code
              run: echo "Linting Repository"

            - name: Run unit tests
              run: echo "Running unit tests"

    build-and-push-ecr-image:
        name: Continous Integration
        needs: integration
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install utilities
              run: |
                  sudo apt-get update
                  sudo apt-get install -y jq unzip

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2

            